<div class="all-equipes">

  <div class="block-selector-equipe">
    <div class="menu-equipe">
      <div (click)="switchDisplay()" class="isMenu" id="selectedEquipe">
        <p class="isMenu" id="selectorEquipeTexte">Selectionner une équipe</p>
        <img alt="Fleche ouverture Liste" class="isMenu" id="arrowList" src="assets/images/selectorEquipe/arrow.png">
      </div>
      <ul class="accordion-content" id="list">
        <li (click)="selectorLiClicked($event, equipe.id)" *ngFor="let equipe of equipe$ | async;"
            [attr.data-equipe-name]="equipe.name" class="options isMenu">
          <img [attr.data-equipe-name]="equipe.name" alt="IconeEquipe"
               class="isMenu" src="assets/images/selectorEquipe/iconeEquipe.png">
          <hr [attr.data-equipe-name]="equipe.name" class="isMenu"/>
          <p [attr.data-equipe-name]="equipe.name" class="equipeName isMenu">{{equipe.name}}</p>
        </li>
      </ul>
    </div>
  </div>


  <div *ngIf="joueurs$" class="equipe-cadre">
    <h1>Première ligne</h1>
    <div class="boxLigne">
      <ng-container *ngFor="let joueur of (joueurs$ | async)" class="GroupeCards">
        <div *ngIf="checkPoste(joueur, Poste.PREMIERELIGNE)" class="post">
          <div (mouseenter)="hover($event)" (mouseleave)="unhover($event)"
               class="joueur">
            <img alt="IMG_PROFIL_JOUEUR" draggable="false"
                 src="https://i.ibb.co/7rZZW2t/PP-Test-Page-Equipe-1.png"/>
            <div class="info">
              <div class="NameAndAge">{{joueur.nom}} {{joueur.prenom}} - {{joueur.age}}
                Ans - {{getPlacement(joueur)}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="joueurs$" class="equipe-cadre">
    <h1>Deuxième ligne</h1>
    <div class="boxLigne">
      <ng-container *ngFor="let joueur of (joueurs$ | async)" class="GroupeCards">
        <div *ngIf="checkPoste(joueur, Poste.DEUXIEMELIGNE)" class="post">
          <div (mouseenter)="hover($event)" (mouseleave)="unhover($event)" class="joueur">
            <img alt="IMG_PROFIL_JOUEUR" draggable="false" src="https://i.ibb.co/7rZZW2t/PP-Test-Page-Equipe-1.png"/>
            <div class="info">
              <div class="NameAndAge">{{joueur.nom}} {{joueur.prenom}} - {{joueur.age}}
                Ans - {{getPlacement(joueur)}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="joueurs$" class="equipe-cadre">
    <h1>Troisième ligne</h1>
    <div class="boxLigne">
      <ng-container *ngFor="let joueur of (joueurs$ | async)" class="GroupeCards">
        <div *ngIf="checkPoste(joueur, Poste.TROISIEMELIGNE)" class="post">
          <div (mouseenter)="hover($event)" (mouseleave)="unhover($event)" class="joueur">
            <img alt="IMG_PROFIL_JOUEUR" draggable="false" src="https://i.ibb.co/7rZZW2t/PP-Test-Page-Equipe-1.png"/>
            <div class="info">
              <div class="NameAndAge">{{joueur.nom}} {{joueur.prenom}} - {{joueur.age}}
                Ans - {{getPlacement(joueur)}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="joueurs$" class="equipe-cadre">
    <h1>Demi de mêlée</h1>
    <div class="boxLigne">
      <ng-container *ngFor="let joueur of (joueurs$ | async)" class="GroupeCards">
        <div *ngIf="checkPoste(joueur, Poste.DEMIMELEE)" class="post">
          <div (mouseenter)="hover($event)" (mouseleave)="unhover($event)" class="joueur">
            <img alt="IMG_PROFIL_JOUEUR" draggable="false" src="https://i.ibb.co/7rZZW2t/PP-Test-Page-Equipe-1.png"/>
            <div class="info">
              <div class="NameAndAge">{{joueur.nom}} {{joueur.prenom}} - {{joueur.age}}
                Ans - {{getPlacement(joueur)}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="joueurs$" class="equipe-cadre">
    <h1>Demi d'ouverture</h1>
    <div class="boxLigne">
      <ng-container *ngFor="let joueur of (joueurs$ | async)" class="GroupeCards">
        <div *ngIf="checkPoste(joueur, Poste.DEMIOUVERTURE)" class="post">
          <div (mouseenter)="hover($event)" (mouseleave)="unhover($event)" class="joueur">
            <img alt="IMG_PROFIL_JOUEUR" draggable="false" src="https://i.ibb.co/7rZZW2t/PP-Test-Page-Equipe-1.png"/>
            <div class="info">
              <div class="NameAndAge">{{joueur.nom}} {{joueur.prenom}} - {{joueur.age}}
                Ans - {{getPlacement(joueur)}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="joueurs$" class="equipe-cadre">
    <h1>Trois quarts centre</h1>
    <div class="boxLigne">
      <ng-container *ngFor="let joueur of (joueurs$ | async)" class="GroupeCards">
        <div *ngIf="checkPoste(joueur, Poste.TROISQUARTSCENTRE)" class="post">
          <div (mouseenter)="hover($event)" (mouseleave)="unhover($event)" class="joueur">
            <img alt="IMG_PROFIL_JOUEUR" draggable="false" src="https://i.ibb.co/7rZZW2t/PP-Test-Page-Equipe-1.png"/>
            <div class="info">
              <div class="NameAndAge">{{joueur.nom}} {{joueur.prenom}} - {{joueur.age}}
                Ans - {{getPlacement(joueur)}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="joueurs$" class="equipe-cadre">
    <h1>Ailiers</h1>
    <div class="boxLigne">
      <ng-container *ngFor="let joueur of (joueurs$ | async)" class="GroupeCards">
        <div *ngIf="checkPoste(joueur, Poste.AILIERS)" class="post">
          <div (mouseenter)="hover($event)" (mouseleave)="unhover($event)" class="joueur">
            <img alt="IMG_PROFIL_JOUEUR" draggable="false" src="https://i.ibb.co/7rZZW2t/PP-Test-Page-Equipe-1.png"/>
            <div class="info">
              <div class="NameAndAge">{{joueur.nom}} {{joueur.prenom}} - {{joueur.age}}
                Ans - {{getPlacement(joueur)}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="joueurs$" class="equipe-cadre">
    <h1>Arrière</h1>
    <div class="boxLigne">
      <ng-container *ngFor="let joueur of (joueurs$ | async)" class="GroupeCards">
        <div *ngIf="checkPoste(joueur, Poste.ARRIERE)" class="post">
          <div (mouseenter)="hover($event)" (mouseleave)="unhover($event)" class="joueur">
            <img alt="IMG_PROFIL_JOUEUR" draggable="false" src="https://i.ibb.co/7rZZW2t/PP-Test-Page-Equipe-1.png"/>
            <div class="info">
              <div class="NameAndAge">{{joueur.nom}} {{joueur.prenom}} - {{joueur.age}}
                Ans - {{getPlacement(joueur)}} </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>
