img {
  max-width: 350px;
}

.all-equipes {
  background-image: url("~src/assets/images/background/equipe-background2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

  .block-selector-equipe {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;

    .menu-equipe {
      width: 350px;
      color: black;

      #selectedEquipe {
        width: 100%;
        padding: 15px 20px;
        box-sizing: border-box;
        background: #2ecc71;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;

        p {
          color: white;
        }

        img {
          width: 20px;
          transform: rotateZ(0deg);
          background: white;
          padding: 3px;
          border-radius: 50px;
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;

          &.listOpen {
            transform: rotateZ(180deg);
          }
        }
      }


      #list {
        display: none;
        position: absolute;
        width: 350px;
        background: #2ecc71;
        color: white;
        overflow: hidden;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;

        &.open {
          display: block;
        }


        .options {
          width: 100%;
          list-style: none;
          cursor: pointer;
          box-sizing: border-box;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
          border-top: 1px solid #27ae60;

          &:hover {
            background: #27ae60;

            hr {
              background: #2ecc71;
            }
          }

          img {
            width: 25px;
            margin: 5px 20px;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
          }

          hr {
            border: 0;
            height: 26px;
            width: 1px;
            background: #27ae60;

            &:hover {
              background: #2ecc71;
            }
          }

          .equipeName {
            margin: 5px 20px;
          }
        }
      }
    }
  }


  .equipe-cadre {
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    h1 {
      color: #ffffff;
      border: 10px solid white;
      padding: 20px 30px;
      width: max-content;
      margin: 0 auto;
    }

    .boxLigne {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      align-content: center;

      .post {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .joueur {
          margin: 15px 30px;
          font-size: 0;
          background-color: #27ae60;
          border: white 5px solid;
          transition: all 0.5s 0s ease-in-out;
          -webkit-transition: all 0.5s 0s ease-in-out;
          -moz-transition: all 0.5s 0s ease-in-out;
          -ms-transition: all 0.5s 0s ease-in-out;
          -o-transition: all 0.5s 0s ease-in-out;

          &:hover {
            background-color: #2ecc71;
          }

          img {
            max-width: 300px;
          }

          .info {
            opacity: 0;
            width: 100%;
            height: calc(100% / 10);
            position: relative;
            top: calc(-100% / 10);
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            transition: all 0.5s 0s ease-in-out;
            -webkit-transition: all 0.5s 0s ease-in-out;
            -moz-transition: all 0.5s 0s ease-in-out;
            -ms-transition: all 0.5s 0s ease-in-out;
            -o-transition: all 0.5s 0s ease-in-out;
            display: flex;
            flex-direction: row;
            align-content: space-around;
            justify-content: center;
            align-items: center;

            .NameAndAge {
              font-size: initial;
              position: absolute;
              display: inline-block;
              color: #ecf0f1;
              font-weight: bold;
            }
          }

          .info.hovered {
            opacity: 1;
          }
        }
      }
    }
  }
}
