<ng-container *ngIf="joueurs$"></ng-container>

<div class="all-equipes">
  <div class="equipe-cadre">
    <h1>Première ligne</h1>
    <div class="post">
      <div *ngFor="let joueur of (joueurs$ | async)" class="joueur" (mouseenter)="hover($event)"
           (mouseleave)="unhover($event)">
        <img src="https://i.ibb.co/7rZZW2t/PP-Test-Page-Equipe-1.png"/>
        <div class="info">
          <div class="NameAndAge">{{joueur.nom}} {{joueur.prenom}} - {{joueur.age}} Ans {{joueur.poste}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
