img {
  max-width: 350px;
}

.all-equipes {
  background-image: url("/assets/images/background/equipe-background2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

  .block-selector-equipe {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;

    .menu-equipe {
      width: 350px;
      color: black;

      #selectedEquipe {
        width: 100%;
        padding: 15px 20px;
        margin-bottom: 1px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        img {
          width: 12px;
          transform: rotateZ(0deg);

          &.listOpen {
            transform: rotateZ(180deg);
          }
        }
      }


      #list {
        display: none;
        position: absolute;
        width: 350px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 6px;
        overflow: hidden;

        &.open {
          display: block;
        }


        .options {
          width: 100%;
          list-style: none;
          cursor: pointer;
          box-sizing: border-box;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;

          &:hover {
            background: rgba(255, 255, 255, 0.7);
          }

          img {
            width: 25px;
            width: 25px;
            margin: 5px 20px;
          }
        }
      }
    }
  }


  .equipe-cadre {
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;

    h1 {
      color: #ffffff;
    }

    .boxLigne {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      align-content: center;

      .post {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .joueur {
          margin: 15px 30px;
          font-size: 0;
          background-color: #27ae60;
          border: white 5px solid;
          transition: all 0.5s 0s ease-in-out;
          -webkit-transition: all 0.5s 0s ease-in-out;
          -moz-transition: all 0.5s 0s ease-in-out;
          -ms-transition: all 0.5s 0s ease-in-out;
          -o-transition: all 0.5s 0s ease-in-out;

          &:hover {
            background-color: #2ecc71;
          }

          img {
            max-width: 300px;
          }

          .info {
            opacity: 0;
            width: 100%;
            height: calc(100% / 10);
            position: relative;
            top: calc(-100% / 10);
            left: 0%;
            background-color: rgba(0, 0, 0, 0.5);
            transition: all 0.5s 0s ease-in-out;
            -webkit-transition: all 0.5s 0s ease-in-out;
            -moz-transition: all 0.5s 0s ease-in-out;
            -ms-transition: all 0.5s 0s ease-in-out;
            -o-transition: all 0.5s 0s ease-in-out;
            display: flex;
            flex-direction: row;
            align-content: space-around;
            justify-content: center;
            align-items: center;

            .NameAndAge {
              font-size: initial;
              position: absolute;
              display: inline-block;
              color: #ecf0f1;
              font-weight: bold;
            }
          }

          .info.hovered {
            opacity: 1;
          }
        }
      }
    }
  }
}
