<div (click)="cartToRecap()" class="bloc-shop-cart">
  <app-icon-cart class="cart"></app-icon-cart>
  <span *ngIf="getCountElement() > 0">{{getCountElement()}}</span>
</div>

<div class="slide-container">
  <div class="wrapper">
    <ng-container *ngFor="let article of (articles$ | async)">
      <div class="card">
        <div class="name">{{article.name}}</div>
        <div class="image">
          <img
            alt="Img Produit" src='data:image/png;base64,{{getFormat(article.image)}}'/>
        </div>
        <div class="pricebox clearfix">
          <div class="one-third no-border">
            <div class="price">{{article.prix.toFixed(2)}}€</div>
            <hr/>
            <div class="optionAdd">
              <select (change)="getChange($event)" name="taille" required>
                <option disabled hidden selected>Taille</option>
                <ng-container *ngFor="let sizeObs of article.sizeShopIds">
                  <ng-container *ngIf="sizeObs as size">
                    <option>{{getAttribute(size)}}</option>
                  </ng-container>
                </ng-container>
              </select>
              <input max="100" min="1" required step="1" type="number" value="1"/>
              <button (click)="addToCart($event)" [attr.data-article-name]="article.name"
                      [attr.data-article]="article.id" data-shop="shop" disabled>Ajouter
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="getBoolActiveRecap()">
  <app-recap-commande (change)="getRecapArticle()" *ngIf="getRecapArticle() as commande"
                      [initRecapCommande]="commande"></app-recap-commande>
</ng-container>


