<div (click)="cartToRecap()" class="bloc-shop-cart">
  <app-icon-cart class="cart"></app-icon-cart>
  <span *ngIf="getCountElement() > 0">{{getCountElement()}}</span>
</div>

<div class="slide-container">
  <div class="wrapper">
    <ng-container *ngFor="let article of (articles$ | async)">
      <div class="card">
        <div class="name">{{article.name}}</div>
        <div class="image">
          <img
            alt="Img Produit" src='data:image/png;base64,{{getFormat(article.path)}}'/>
        </div>
        <div class="pricebox clearfix">
          <div class="one-third no-border">
            <div class="price">{{article.prix.toFixed(2)}}€</div>
            <hr/>
            <div class="optionAdd">
              <select (change)="getChange($event)" name="taille" required>
                <option disabled hidden selected>Taille</option>
                <ng-container *ngFor="let sizeObs of article.sizeShopIds">
                  <ng-container *ngIf="sizeObs as size">
                    <option>{{getAttribute(size)}}</option>
                  </ng-container>
                </ng-container>
              </select>
              <input max="100" min="1" required step="1" type="number" value="1"/>
              <button (click)="addToCart($event)" [attr.data-article-name]="article.name"
                      [attr.data-article]="article.id" data-shop="shop" disabled>Ajouter
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="getBoolActiveRecap()">
  <div class="viewCartBackground">
    <div class="viewCart">
      <div (click)="switchActivePageRecap()" class="cross">
        <app-icon-cross></app-icon-cross>
      </div>
      <div class="title"><h1>Commande</h1></div>
      <ng-container *ngIf="getCountElement() > 0">
        <div class="tbl-header">
          <table>
            <thead>
            <tr>
              <th>Article</th>
              <th>Taille</th>
              <th>Quantié</th>
              <th>Prix</th>
            </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table>
            <tbody>
            <ng-container *ngFor="let article of getRecapArticle()">
              <tr>
                <td>{{article.name}}</td>
                <td>{{article.size}}</td>
                <td>{{article.quantite}}</td>
                <td>{{article.prix.toFixed(2)}}€</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <h3>Montant total: {{getPrixTotalCommande().toFixed(2)}}€ | Article Total: {{getCountElement()}}</h3>
      </ng-container>
      <ng-container *ngIf="getCountElement() < 1">
        <div class="cartIsVoid">
          <app-icon-cart style="display: block"></app-icon-cart>
          <h2 style="display: block">Votre panier est vide.</h2>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
