header{
  background-image: url("/assets/images/background/header-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
