<footer>
  <div class="main-content">
    <div class="box">
      <h2>Menu</h2>
      <div class="content">
        <div class="menu-nav">
          <a href="#"><span>Home</span></a>
          <a href="#"><span>Équipe</span></a>
          <a href="#"><span>Partenaire</span></a>
          <a href="#"><span>Boutique</span></a>
        </div>
      </div>
    </div>
    <div class="box">
      <h2>Contact</h2>
      <div class="content">
        <div class="email categ">
          <a href="mailto:contact@abadakor.fr"><span class="text">email@un.com</span></a>
        </div>
        <div class="email categ">
          <a href="mailto:contact@abadakor.fr"><span class="text">email@deux.com</span></a>
        </div>
        <div class="tel categ">
          <a href="tel:+33712345678"><span class="text">+33712345678</span></a>
        </div>
      </div>
    </div>
    <div class="box">
      <h2>Réseaux</h2>
      <div class="content">
        <div class="social">
          <a href="https://www.facebook.com/" target="_blank"><span>Facebook</span></a>
          <a href="https://www.instagram.com" target="_blank"><span>Instagram</span></a>
          <a href="https://twitter.com" target="_blank"><span>Twitter</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-copyright">
    <div class="center-copyright">
      <span class="copyright">
        <span class="name-copyright">AURORE RUGBY CLUB VITRÉ
          <span> |</span>
          <span class="far fa-copyright"></span>
          <span class="mention-copyright">2021 All rights reserved.</span>
        </span>
      </span>
    </div>
  </div>
</footer>
