<div class="viewCartBackground">
  <div class="viewCart">
    <div (click)="closeRecapCommande()" class="cross">
      <app-icon-cross></app-icon-cross>
    </div>
    <div class="title"><h1>Commande</h1></div>
    <ng-container *ngIf="articles.length > 0">
      <div class="tbl-header">
        <table>
          <thead>
          <tr>
            <th>Article</th>
            <th>Taille</th>
            <th>Quantité</th>
            <th>Prix</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table>
          <tbody>
          <ng-container *ngFor="let article of articles">
            <tr>
              <td>{{article.name}}</td>
              <td>{{article.size}}</td>
              <td>{{article.quantite}}</td>
              <td>{{calculTotalPartArticle(article.prix, article.quantite).toFixed(2)}}€</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      <h3>Montant total: {{getPrixTotal().toFixed(2)}}€ | Article Total: {{articles.length}}</h3>
    </ng-container>
    <ng-container *ngIf="articles.length < 1">
      <div class="cartIsVoid">
        <app-icon-cart style="display: block"></app-icon-cart>
        <h2 style="display: block">Votre panier est vide.</h2>
      </div>
      <h3>Montant total: 0€ | Article Total: 0</h3>
    </ng-container>
  </div>
</div>
