<div class="partenaireBox">
  <div class="importantPartenaire">
    <div class="partenaireBoxBase partenaireLuxe">
      <p class="no-blur">img Here</p>
    </div>
    <div class="partenaireBoxBase partenaireLuxe">
      <p class="no-blur">img Here</p>
    </div>
    <div class="partenaireBoxBase partenaireLuxe">
      <p class="no-blur">img Here</p>
    </div>
    <div class="partenaireBoxBase partenaireLuxe">
      <p class="no-blur">img Here</p>
    </div>
    <div class="partenaireBoxBase partenaireLuxe">
      <p class="no-blur">img Here</p>
    </div>
    <div class="partenaireBoxBase partenaireLuxe">
      <p class="no-blur">img Here</p>
    </div>
  </div>

  <hr>

  <div class="importantPartenaire">
    <div class="partenaireBoxBase partenaireBase">
      <p class="no-blur">img Here</p>
    </div>
    <div class="partenaireBoxBase partenaireBase">
      <p class="no-blur">img Here</p>
    </div>
    <div class="partenaireBoxBase partenaireBase">
      <p class="no-blur">img Here</p>
    </div>
    <div class="partenaireBoxBase partenaireBase">
      <p class="no-blur">img Here</p>
    </div>
    <div class="partenaireBoxBase partenaireBase">
      <p class="no-blur">img Here</p>
    </div>
    <div class="partenaireBoxBase partenaireBase">
      <p class="no-blur">img Here</p>
    </div>
  </div>

</div>
