:root {
    --primary: #e74c3c;
    --dark: #000;
    --accent: #2980b9;
    --text: #333;
    --divider: #ecf0f1;
    --menu-font-color: #fff;
    --menu-color-phone: #0ff;
    --menu-background: #1b1b1b;
    --font-family: 'Roboto', sans-serif;
    --font-family-title: "Arvo", serif;
    --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    --green: #0da58e;
    --light-green: #8cc152;
    --lime: #cdda49;
    --yellow: #fca408;
    --orange: #fc4c04;
    --deep-orange: #fc5830;
    --red: #e2202c;
    --pink: #e62565;
    --light-blue: #1a60ff;
    --blue: #002c91;
    --dark-blue: #002270;
    --purple: #9b2fae;
    --deep-purple: #673fb4;
    --light-dark: #191919;
    --body-bg-color: #333;
    --scroll-color: #e3e3e3;
    --scroll--hover-color: #666;
    --scroll-track-color: rgba(255, 255, 255, 0);
}