nav{padding: 15px 100px;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  z-index: 1;
ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  li{
    list-style: none;
    position: relative;
    a{
      font-size: 1.7em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      position: relative;
      color: #ecf0f1;
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
    }
  }
}}

