<nav>
  <ul class="nav" id="id-nav">
    <li><a (isActiveChange)="this.test($event)" [routerLinkActiveOptions]="{exact:true}"
           [routerLinkActive]="['link-Activate']"
           [routerLink]="['/']">Home</a>
    </li>
    <li><a [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['link-Activate']"
           [routerLink]="['/', 'equipes']">Équipes</a></li>
    <li><a [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['link-Activate']"
           [routerLink]="['/', 'partenaires']">Partenaires</a></li>
    <li><a [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['link-Activate']"
           [routerLink]="['/', 'boutique']">Boutique</a></li>
  </ul>
</nav>
