<nav>
  <ul class="nav" id="id-nav">
    <li><a [routerLink]="['/']" [routerLinkActive]="['link-Activate']" [routerLinkActiveOptions]="{exact:true}"
           (isActiveChange)="this.test($event)">Home</a>
    </li>
    <li><a [routerLink]="['/', 'equipes']" [routerLinkActive]="['link-Activate']"
           [routerLinkActiveOptions]="{exact:true}">Équipes</a></li>
    <li><a [routerLink]="['/', 'equipes']" [routerLinkActive]="['link-Activate']"
           [routerLinkActiveOptions]="{exact:true}">Partenaires</a></li>
    <li><a [routerLink]="['/', 'equipes']" [routerLinkActive]="['link-Activate']"
           [routerLinkActiveOptions]="{exact:true}">Boutique</a></li>
  </ul>
</nav>
